extends layout

block content
  h1= title
  if user
    p Hi 
      strong=user.fullname
    nav
      div
        p If you want to check your membership status >
          a(href="/membership") Membership
      div
        a(href="/log-out") Logout
    div
      h3 New message
      form(action="/send-message" method="post")
        div
          input#title(type="text" name="title")
          label(for="title") Title
        div
          textarea#text(type="text" name="text")
          label(for="text") Message
        div
          button(type="submit") Send

  else
    p Welcome to #{title}
    nav
      p Already our user? 
        a(href="/log-in") Login
    nav
      p Want to become our user? 
        a(href="/sign-up") Register
  h2 Message board
  for message in messages
    div
      h3=message.title
      p=message.text
      if message.date
        p=new Date(message.date)
      if message.user
        p=message.user.username
      if user && user.role === 'admin'
        a(href=`${message.url}/delete`) ⚠️Delete message
    hr
